<ion-header>

    <ion-navbar color="header">

        <ion-title>Kolhapur Sports Club</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <h5>Forgot Password</h5>
    <form [formGroup]="register" (ngSubmit)="logForm()">
        <ion-item>
            <ion-label floating>Enter Password</ion-label>
            <ion-input type="text" formControlName="Password"></ion-input>
        </ion-item>
        <div padding-horizontal>
            <div class="alert" *ngIf="!register.controls['Password'].valid && register.controls['Password'].touched">Please Enter Password</div>
        </div>
        <ion-item>
            <ion-label floating>Confirm Password</ion-label>
            <ion-input type="text" formControlName="ConfirmPassword"></ion-input>
        </ion-item>
        <div padding-horizontal>
            <div class="alert" *ngIf="!register.controls['ConfirmPassword'].valid && register.controls['ConfirmPassword'].touched">Please Enter Confirm Password</div>
        </div>
        <!-- Float the icon right -->
        <div class="button_div">
            <button ion-button [disabled]="!register.valid" block icon-right>
            Submit
        <ion-icon name="log-in"></ion-icon>
      </button>
        </div>
    </form>
</ion-content>