<ion-header>

    <ion-navbar color="header">
        <ion-title>Kolhapur Sports Club</ion-title>
    </ion-navbar>

</ion-header>

<ion-content padding>
    <h5>Generate QR Code</h5>
    <ion-item>
        <ion-label>Select Competition Name</ion-label>
        <ion-select interface="popover">
            <ion-option *ngFor="let Competition of Competitions" (ionSelect)="select(Competition)" [value]="Competition">{{Competition.name}}</ion-option>
        </ion-select>
    </ion-item>
    <ion-item>
        <ion-label>Select Sports Type</ion-label>
        <ion-select interface="popover" [(ngModel)]="Sport">
            <ion-option *ngFor="let Sport of Sports" [value]="Sport">{{Sport.sports_type_name}}</ion-option>
        </ion-select>
    </ion-item>
    <ion-row>
        <ion-col col-6>
            <button ion-button block (click)="generate()">
                Generate QR Code
              </button>
        </ion-col>
        <ion-col col-6>
            <button ion-button block (click)="seedata()">
                See QR Code
              </button>
        </ion-col>
    </ion-row>
  
    <!-- <div class="button_div">
        <button ion-button (click)="save()">
          Get List
        </button>
    </div> -->
    <!-- <ion-row class="headerdiv">
        <ion-col col-4>
            <ion-checkbox [(ngModel)]="all" (ngModelChange)="allselect()"></ion-checkbox> <span>Select all</span>
        </ion-col>
        <ion-col col-2>
            BIB no.
        </ion-col>
        <ion-col col-6>
            Name
        </ion-col>
    </ion-row>
    <ion-row class="bodydiv" *ngFor="let item of userList;">
        <ion-col col-4>
            <ion-checkbox [(ngModel)]="item.selected" (ngModelChange)="selectuser()"></ion-checkbox>
        </ion-col>
        <ion-col col-2>
            {{item.id}}
        </ion-col>
        <ion-col col-6>
            {{item.name}}
        </ion-col>
    </ion-row> -->
</ion-content>
